In [10]:
# Imports the Google Cloud client library
from google.cloud import storage

# Instantiates a client
storage_client = storage.Client()

# The name for the new bucket
bucket_name = "budfox-data-science-development"

# Creates the new bucket
bucket = storage_client.get_bucket(bucket_name)

print("Bucket {} created.".format(bucket.name))
# Note: Client.list_blobs requires at least package version 1.17.0.
blobs = storage_client.list_blobs(bucket_name)

assets = [blob.name.split("/")[-1].split(".")[0] for blob in blobs]
print(len(assets))
uris = ["gs://budfox-data-science-development/Data/" + asset + ".csv" for asset in assets]
for i, uri in enumerate(uris):
    if i > 10:
        break
    else:
        print(i, uri)

Bucket budfox-data-science-development created.
251
0 gs://budfox-data-science-development/Data/AAVEETH.csv
1 gs://budfox-data-science-development/Data/AAVEEUR.csv
2 gs://budfox-data-science-development/Data/AAVEGBP.csv
3 gs://budfox-data-science-development/Data/AAVEUSD.csv
4 gs://budfox-data-science-development/Data/AAVEXBT.csv
5 gs://budfox-data-science-development/Data/ADAETH.csv
6 gs://budfox-data-science-development/Data/ADAEUR.csv
7 gs://budfox-data-science-development/Data/ADAUSD.csv
8 gs://budfox-data-science-development/Data/ADAUSDT.csv
9 gs://budfox-data-science-development/Data/ADAXBT.csv
10 gs://budfox-data-science-development/Data/ALGOETH.csv

In [13]:
from google.cloud import bigquery

# Construct a BigQuery client object.
client = bigquery.Client()

# TODO(developer): Set table_id to the ID of the table to create.
# table_id = "your-project.your_dataset.your_table_name"

job_config = bigquery.LoadJobConfig(
    schema=[
        bigquery.SchemaField("time_stamp", "TIMESTAMP"),
        bigquery.SchemaField("price", "FLOAT"),
        bigquery.SchemaField("volume", "FLOAT")#, 
        #bigquery.SchemaField("asset", "STRING")
    ],
    skip_leading_rows=0,
    # The source format defaults to CSV, so the line below is optional.
    source_format=bigquery.SourceFormat.CSV,
)
for uri, table in zip(uris, assets):
        
    table_id= "development-302415.markets." + table 
    load_job = client.load_table_from_uri(
        uri, table_id, job_config=job_config
    )  # Make an API request.

    load_job.result()  # Waits for the job to complete.

    destination_table = client.get_table(table_id)  # Make an API request.
    print("Loaded {} rows.".format(destination_table.num_rows))

Loaded 1461 rows.
Loaded 6248 rows.
Loaded 368 rows.
Loaded 6088 rows.
Loaded 2379 rows.
Loaded 225581 rows.
Loaded 1612232 rows.
Loaded 1178759 rows.
Loaded 15086 rows.
Loaded 798295 rows.
Loaded 51289 rows.
Loaded 258108 rows.
Loaded 244308 rows.
Loaded 134059 rows.
Loaded 2043 rows.
Loaded 9860 rows.
Loaded 7720 rows.
Loaded 2816 rows.
Loaded 117767 rows.
Loaded 511124 rows.
Loaded 414077 rows.
Loaded 374009 rows.
Loaded 1763 rows.
Loaded 21700 rows.
Loaded 4266 rows.
Loaded 21953 rows.
Loaded 17113 rows.
Loaded 9991 rows.
Loaded 38792 rows.
Loaded 238358 rows.
Loaded 188388 rows.
Loaded 146902 rows.
Loaded 4035 rows.
Loaded 26663 rows.
Loaded 5279798 rows.
Loaded 7509 rows.
Loaded 629 rows.
Loaded 4838190 rows.
Loaded 52831 rows.
Loaded 2964327 rows.
Loaded 45758 rows.
Loaded 117022 rows.
Loaded 119265 rows.
Loaded 66429 rows.
Loaded 11498 rows.
Loaded 109955 rows.
Loaded 87971 rows.
Loaded 32822 rows.
Loaded 206931 rows.
Loaded 244445 rows.
Loaded 96450 rows.
Loaded 1628570 rows.
Loaded 1127374 rows.
Loaded 1221910 rows.
Loaded 125336 rows.
Loaded 480184 rows.
Loaded 552227 rows.
Loaded 19292 rows.
Loaded 203673 rows.
Loaded 875348 rows.
Loaded 1980843 rows.
Loaded 1454101 rows.
Loaded 4777 rows.
Loaded 1387166 rows.
Loaded 975867 rows.
Loaded 2936937 rows.
Loaded 2459432 rows.
Loaded 1766915 rows.
Loaded 18686 rows.
Loaded 528365 rows.
Loaded 73261 rows.
Loaded 81181 rows.
Loaded 22303657 rows.
Loaded 253335 rows.
Loaded 140513 rows.
Loaded 18755300 rows.
Loaded 76289 rows.
Loaded 305707 rows.
Loaded 13643924 rows.
Loaded 14591 rows.
Loaded 26372 rows.
Loaded 61439 rows.
Loaded 102729 rows.
Loaded 6056 rows.
Loaded 1191848 rows.
Loaded 9563 rows.
Loaded 39198 rows.
Loaded 127067 rows.
Loaded 18920 rows.
Loaded 167467 rows.
Loaded 510552 rows.
Loaded 437966 rows.
Loaded 227032 rows.
Loaded 623843 rows.
Loaded 6674 rows.
Loaded 91189 rows.
Loaded 38800 rows.
Loaded 15400 rows.
Loaded 47011 rows.
Loaded 219112 rows.
Loaded 118472 rows.
Loaded 133578 rows.
Loaded 17019 rows.
Loaded 173600 rows.
Loaded 113362 rows.
Loaded 64974 rows.
Loaded 5758 rows.
Loaded 19172 rows.
Loaded 16359 rows.
Loaded 7089 rows.
Loaded 8955 rows.
Loaded 55155 rows.
Loaded 59287 rows.
Loaded 24410 rows.
Loaded 9631 rows.
Loaded 55805 rows.
Loaded 37474 rows.
Loaded 25778 rows.
Loaded 105992 rows.
Loaded 863574 rows.
Loaded 1250048 rows.
Loaded 16790 rows.
Loaded 362867 rows.
Loaded 26634 rows.
Loaded 112625 rows.
Loaded 60488 rows.
Loaded 83949 rows.
Loaded 4293 rows.
Loaded 26532 rows.
Loaded 5685728 rows.
Loaded 10177 rows.
Loaded 908 rows.
Loaded 4494944 rows.
Loaded 49212 rows.
Loaded 2760810 rows.
Loaded 1321 rows.
Loaded 6986 rows.
Loaded 4749 rows.
Loaded 1492 rows.
Loaded 483727 rows.
Loaded 222117 rows.
Loaded 102943 rows.
Loaded 586877 rows.
Loaded 35040 rows.
Loaded 154431 rows.
Loaded 112759 rows.
Loaded 105687 rows.
Loaded 41166 rows.
Loaded 226379 rows.
Loaded 229360 rows.
Loaded 101453 rows.
Loaded 49065 rows.
Loaded 185238 rows.
Loaded 252501 rows.
Loaded 114016 rows.
Loaded 87429 rows.
Loaded 97715 rows.
Loaded 146888 rows.
Loaded 128221 rows.
Loaded 61776 rows.
Loaded 378942 rows.
Loaded 409772 rows.
Loaded 286774 rows.
Loaded 718625 rows.
Loaded 1877610 rows.
Loaded 517895 rows.
Loaded 9979 rows.
Loaded 37642 rows.
Loaded 19054 rows.
Loaded 27724 rows.
Loaded 1148336 rows.
Loaded 63539 rows.
Loaded 249326 rows.
Loaded 124353 rows.
Loaded 122668 rows.
Loaded 12085 rows.
Loaded 61922 rows.
Loaded 56044 rows.
Loaded 29311 rows.
Loaded 12250 rows.
Loaded 121091 rows.
Loaded 49245 rows.
Loaded 25589 rows.
Loaded 2879 rows.
Loaded 7903 rows.
Loaded 2440 rows.
Loaded 830 rows.
Loaded 21885 rows.
Loaded 208771 rows.
Loaded 186861 rows.
Loaded 60154 rows.
Loaded 7941 rows.
Loaded 81527 rows.
Loaded 61784 rows.
Loaded 32046 rows.
Loaded 72537 rows.
Loaded 512526 rows.
Loaded 71970 rows.
Loaded 704515 rows.
Loaded 421524 rows.
Loaded 8024 rows.
Loaded 32267 rows.
Loaded 180727 rows.
Loaded 21659 rows.
Loaded 2877084 rows.
Loaded 182166 rows.
Loaded 7871 rows.
Loaded 9843970 rows.
Loaded 45969 rows.
Loaded 258435 rows.
Loaded 174540 rows.
Loaded 152714 rows.
Loaded 55371 rows.
Loaded 1138241 rows.
Loaded 150608 rows.
Loaded 42410 rows.
Loaded 46106165 rows.
Loaded 546057 rows.
Loaded 367870 rows.
Loaded 27456286 rows.
Loaded 120570 rows.
Loaded 477979 rows.
Loaded 141327 rows.
Loaded 109376 rows.
Loaded 583962 rows.
Loaded 2310347 rows.
Loaded 1646473 rows.
Loaded 2292798 rows.
Loaded 2734376 rows.
Loaded 1839368 rows.
Loaded 1787518 rows.
Loaded 10550 rows.
Loaded 243873 rows.
Loaded 79988 rows.
Loaded 10232255 rows.
Loaded 40659 rows.
Loaded 98530 rows.
Loaded 7952176 rows.
Loaded 125009 rows.
Loaded 4516389 rows.
Loaded 275612 rows.
Loaded 1506675 rows.
Loaded 1350785 rows.
Loaded 996467 rows.
Loaded 9348 rows.
Loaded 109852 rows.
Loaded 84572 rows.
Loaded 45685 rows.
Loaded 1731150 rows.
Loaded 1391111 rows.
Loaded 1351392 rows.

In [35]:
queries = ["SELECT time_stamp, price, volume, '" + asset + "' as asset FROM `development-302415.markets." + asset + "`" for asset in assets]
for q in queries[:3]:
    print(q)

SELECT time_stamp, price, volume, 'AAVEETH' as asset FROM `development-302415.markets.AAVEETH`
SELECT time_stamp, price, volume, 'AAVEEUR' as asset FROM `development-302415.markets.AAVEEUR`
SELECT time_stamp, price, volume, 'AAVEGBP' as asset FROM `development-302415.markets.AAVEGBP`

In [30]:
%%bigquery results
SELECT time_stamp, price, volume, 'AAVEEUR' as asset FROM development-302415.markets.AAVEEUR

In [31]:
results

                    time_stamp  price    volume    asset
0    2020-12-23 22:21:10+00:00  56.00  1.497604  AAVEEUR
1    2020-12-23 22:21:10+00:00  56.00  0.002392  AAVEEUR
2    2020-12-23 22:21:10+00:00  56.00  0.000004  AAVEEUR
3    2020-12-23 22:21:10+00:00  56.00  7.310005  AAVEEUR
4    2020-12-23 22:21:10+00:00  56.00  0.011677  AAVEEUR
...                        ...    ...       ...      ...
6243 2020-12-18 13:33:17+00:00  69.84  0.100100  AAVEEUR
6244 2020-12-22 02:07:44+00:00  66.59  0.100100  AAVEEUR
6245 2020-12-21 00:37:03+00:00  70.59  0.100100  AAVEEUR
6246 2020-12-18 22:24:36+00:00  71.09  0.100100  AAVEEUR
6247 2020-12-15 16:42:52+00:00  75.09  0.100100  AAVEEUR

[6248 rows x 4 columns]

In [36]:
giant_query = " UNION ALL ".join(queries)

In [37]:
print(giant_query)

SELECT time_stamp, price, volume, 'AAVEETH' as asset FROM `development-302415.markets.AAVEETH` UNION ALL SELECT time_stamp, price, volume, 'AAVEEUR' as asset FROM `development-302415.markets.AAVEEUR` UNION ALL SELECT time_stamp, price, volume, 'AAVEGBP' as asset FROM `development-302415.markets.AAVEGBP` UNION ALL SELECT time_stamp, price, volume, 'AAVEUSD' as asset FROM `development-302415.markets.AAVEUSD` UNION ALL SELECT time_stamp, price, volume, 'AAVEXBT' as asset FROM `development-302415.markets.AAVEXBT` UNION ALL SELECT time_stamp, price, volume, 'ADAETH' as asset FROM `development-302415.markets.ADAETH` UNION ALL SELECT time_stamp, price, volume, 'ADAEUR' as asset FROM `development-302415.markets.ADAEUR` UNION ALL SELECT time_stamp, price, volume, 'ADAUSD' as asset FROM `development-302415.markets.ADAUSD` UNION ALL SELECT time_stamp, price, volume, 'ADAUSDT' as asset FROM `development-302415.markets.ADAUSDT` UNION ALL SELECT time_stamp, price, volume, 'ADAXBT' as asset FROM `development-302415.markets.ADAXBT` UNION ALL SELECT time_stamp, price, volume, 'ALGOETH' as asset FROM `development-302415.markets.ALGOETH` UNION ALL SELECT time_stamp, price, volume, 'ALGOEUR' as asset FROM `development-302415.markets.ALGOEUR` UNION ALL SELECT time_stamp, price, volume, 'ALGOUSD' as asset FROM `development-302415.markets.ALGOUSD` UNION ALL SELECT time_stamp, price, volume, 'ALGOXBT' as asset FROM `development-302415.markets.ALGOXBT` UNION ALL SELECT time_stamp, price, volume, 'ANTETH' as asset FROM `development-302415.markets.ANTETH` UNION ALL SELECT time_stamp, price, volume, 'ANTEUR' as asset FROM `development-302415.markets.ANTEUR` UNION ALL SELECT time_stamp, price, volume, 'ANTUSD' as asset FROM `development-302415.markets.ANTUSD` UNION ALL SELECT time_stamp, price, volume, 'ANTXBT' as asset FROM `development-302415.markets.ANTXBT` UNION ALL SELECT time_stamp, price, volume, 'ATOMETH' as asset FROM `development-302415.markets.ATOMETH` UNION ALL SELECT time_stamp, price, volume, 'ATOMEUR' as asset FROM `development-302415.markets.ATOMEUR` UNION ALL SELECT time_stamp, price, volume, 'ATOMUSD' as asset FROM `development-302415.markets.ATOMUSD` UNION ALL SELECT time_stamp, price, volume, 'ATOMXBT' as asset FROM `development-302415.markets.ATOMXBT` UNION ALL SELECT time_stamp, price, volume, 'AUDJPY' as asset FROM `development-302415.markets.AUDJPY` UNION ALL SELECT time_stamp, price, volume, 'AUDUSD' as asset FROM `development-302415.markets.AUDUSD` UNION ALL SELECT time_stamp, price, volume, 'BALETH' as asset FROM `development-302415.markets.BALETH` UNION ALL SELECT time_stamp, price, volume, 'BALEUR' as asset FROM `development-302415.markets.BALEUR` UNION ALL SELECT time_stamp, price, volume, 'BALUSD' as asset FROM `development-302415.markets.BALUSD` UNION ALL SELECT time_stamp, price, volume, 'BALXBT' as asset FROM `development-302415.markets.BALXBT` UNION ALL SELECT time_stamp, price, volume, 'BATETH' as asset FROM `development-302415.markets.BATETH` UNION ALL SELECT time_stamp, price, volume, 'BATEUR' as asset FROM `development-302415.markets.BATEUR` UNION ALL SELECT time_stamp, price, volume, 'BATUSD' as asset FROM `development-302415.markets.BATUSD` UNION ALL SELECT time_stamp, price, volume, 'BATXBT' as asset FROM `development-302415.markets.BATXBT` UNION ALL SELECT time_stamp, price, volume, 'BCHAUD' as asset FROM `development-302415.markets.BCHAUD` UNION ALL SELECT time_stamp, price, volume, 'BCHETH' as asset FROM `development-302415.markets.BCHETH` UNION ALL SELECT time_stamp, price, volume, 'BCHEUR' as asset FROM `development-302415.markets.BCHEUR` UNION ALL SELECT time_stamp, price, volume, 'BCHGBP' as asset FROM `development-302415.markets.BCHGBP` UNION ALL SELECT time_stamp, price, volume, 'BCHJPY' as asset FROM `development-302415.markets.BCHJPY` UNION ALL SELECT time_stamp, price, volume, 'BCHUSD' as asset FROM `development-302415.markets.BCHUSD` UNION ALL SELECT time_stamp, price, volume, 'BCHUSDT' as asset FROM `development-302415.markets.BCHUSDT` UNION ALL SELECT time_stamp, price, volume, 'BCHXBT' as asset FROM `development-302415.markets.BCHXBT` UNION ALL SELECT time_stamp, price, volume, 'COMPETH' as asset FROM `development-302415.markets.COMPETH` UNION ALL SELECT time_stamp, price, volume, 'COMPEUR' as asset FROM `development-302415.markets.COMPEUR` UNION ALL SELECT time_stamp, price, volume, 'COMPUSD' as asset FROM `development-302415.markets.COMPUSD` UNION ALL SELECT time_stamp, price, volume, 'COMPXBT' as asset FROM `development-302415.markets.COMPXBT` UNION ALL SELECT time_stamp, price, volume, 'CRVETH' as asset FROM `development-302415.markets.CRVETH` UNION ALL SELECT time_stamp, price, volume, 'CRVEUR' as asset FROM `development-302415.markets.CRVEUR` UNION ALL SELECT time_stamp, price, volume, 'CRVUSD' as asset FROM `development-302415.markets.CRVUSD` UNION ALL SELECT time_stamp, price, volume, 'CRVXBT' as asset FROM `development-302415.markets.CRVXBT` UNION ALL SELECT time_stamp, price, volume, 'DAIEUR' as asset FROM `development-302415.markets.DAIEUR` UNION ALL SELECT time_stamp, price, volume, 'DAIUSD' as asset FROM `development-302415.markets.DAIUSD` UNION ALL SELECT time_stamp, price, volume, 'DAIUSDT' as asset FROM `development-302415.markets.DAIUSDT` UNION ALL SELECT time_stamp, price, volume, 'DASHEUR' as asset FROM `development-302415.markets.DASHEUR` UNION ALL SELECT time_stamp, price, volume, 'DASHUSD' as asset FROM `development-302415.markets.DASHUSD` UNION ALL SELECT time_stamp, price, volume, 'DASHXBT' as asset FROM `development-302415.markets.DASHXBT` UNION ALL SELECT time_stamp, price, volume, 'DOTETH' as asset FROM `development-302415.markets.DOTETH` UNION ALL SELECT time_stamp, price, volume, 'DOTEUR' as asset FROM `development-302415.markets.DOTEUR` UNION ALL SELECT time_stamp, price, volume, 'DOTUSD' as asset FROM `development-302415.markets.DOTUSD` UNION ALL SELECT time_stamp, price, volume, 'DOTUSDT' as asset FROM `development-302415.markets.DOTUSDT` UNION ALL SELECT time_stamp, price, volume, 'DOTXBT' as asset FROM `development-302415.markets.DOTXBT` UNION ALL SELECT time_stamp, price, volume, 'EOSETH' as asset FROM `development-302415.markets.EOSETH` UNION ALL SELECT time_stamp, price, volume, 'EOSEUR' as asset FROM `development-302415.markets.EOSEUR` UNION ALL SELECT time_stamp, price, volume, 'EOSUSD' as asset FROM `development-302415.markets.EOSUSD` UNION ALL SELECT time_stamp, price, volume, 'EOSUSDT' as asset FROM `development-302415.markets.EOSUSDT` UNION ALL SELECT time_stamp, price, volume, 'EOSXBT' as asset FROM `development-302415.markets.EOSXBT` UNION ALL SELECT time_stamp, price, volume, 'ETCETH' as asset FROM `development-302415.markets.ETCETH` UNION ALL SELECT time_stamp, price, volume, 'ETCEUR' as asset FROM `development-302415.markets.ETCEUR` UNION ALL SELECT time_stamp, price, volume, 'ETCUSD' as asset FROM `development-302415.markets.ETCUSD` UNION ALL SELECT time_stamp, price, volume, 'ETCXBT' as asset FROM `development-302415.markets.ETCXBT` UNION ALL SELECT time_stamp, price, volume, 'ETHAUD' as asset FROM `development-302415.markets.ETHAUD` UNION ALL SELECT time_stamp, price, volume, 'ETHCAD' as asset FROM `development-302415.markets.ETHCAD` UNION ALL SELECT time_stamp, price, volume, 'ETHCHF' as asset FROM `development-302415.markets.ETHCHF` UNION ALL SELECT time_stamp, price, volume, 'ETHDAI' as asset FROM `development-302415.markets.ETHDAI` UNION ALL SELECT time_stamp, price, volume, 'ETHEUR' as asset FROM `development-302415.markets.ETHEUR` UNION ALL SELECT time_stamp, price, volume, 'ETHGBP' as asset FROM `development-302415.markets.ETHGBP` UNION ALL SELECT time_stamp, price, volume, 'ETHJPY' as asset FROM `development-302415.markets.ETHJPY` UNION ALL SELECT time_stamp, price, volume, 'ETHUSD' as asset FROM `development-302415.markets.ETHUSD` UNION ALL SELECT time_stamp, price, volume, 'ETHUSDC' as asset FROM `development-302415.markets.ETHUSDC` UNION ALL SELECT time_stamp, price, volume, 'ETHUSDT' as asset FROM `development-302415.markets.ETHUSDT` UNION ALL SELECT time_stamp, price, volume, 'ETHXBT' as asset FROM `development-302415.markets.ETHXBT` UNION ALL SELECT time_stamp, price, volume, 'EURAUD' as asset FROM `development-302415.markets.EURAUD` UNION ALL SELECT time_stamp, price, volume, 'EURCAD' as asset FROM `development-302415.markets.EURCAD` UNION ALL SELECT time_stamp, price, volume, 'EURCHF' as asset FROM `development-302415.markets.EURCHF` UNION ALL SELECT time_stamp, price, volume, 'EURGBP' as asset FROM `development-302415.markets.EURGBP` UNION ALL SELECT time_stamp, price, volume, 'EURJPY' as asset FROM `development-302415.markets.EURJPY` UNION ALL SELECT time_stamp, price, volume, 'EURUSD' as asset FROM `development-302415.markets.EURUSD` UNION ALL SELECT time_stamp, price, volume, 'FILETH' as asset FROM `development-302415.markets.FILETH` UNION ALL SELECT time_stamp, price, volume, 'FILEUR' as asset FROM `development-302415.markets.FILEUR` UNION ALL SELECT time_stamp, price, volume, 'FILUSD' as asset FROM `development-302415.markets.FILUSD` UNION ALL SELECT time_stamp, price, volume, 'FILXBT' as asset FROM `development-302415.markets.FILXBT` UNION ALL SELECT time_stamp, price, volume, 'GBPUSD' as asset FROM `development-302415.markets.GBPUSD` UNION ALL SELECT time_stamp, price, volume, 'GNOETH' as asset FROM `development-302415.markets.GNOETH` UNION ALL SELECT time_stamp, price, volume, 'GNOEUR' as asset FROM `development-302415.markets.GNOEUR` UNION ALL SELECT time_stamp, price, volume, 'GNOUSD' as asset FROM `development-302415.markets.GNOUSD` UNION ALL SELECT time_stamp, price, volume, 'GNOXBT' as asset FROM `development-302415.markets.GNOXBT` UNION ALL SELECT time_stamp, price, volume, 'GRTETH' as asset FROM `development-302415.markets.GRTETH` UNION ALL SELECT time_stamp, price, volume, 'GRTEUR' as asset FROM `development-302415.markets.GRTEUR` UNION ALL SELECT time_stamp, price, volume, 'GRTUSD' as asset FROM `development-302415.markets.GRTUSD` UNION ALL SELECT time_stamp, price, volume, 'GRTXBT' as asset FROM `development-302415.markets.GRTXBT` UNION ALL SELECT time_stamp, price, volume, 'ICXETH' as asset FROM `development-302415.markets.ICXETH` UNION ALL SELECT time_stamp, price, volume, 'ICXEUR' as asset FROM `development-302415.markets.ICXEUR` UNION ALL SELECT time_stamp, price, volume, 'ICXUSD' as asset FROM `development-302415.markets.ICXUSD` UNION ALL SELECT time_stamp, price, volume, 'ICXXBT' as asset FROM `development-302415.markets.ICXXBT` UNION ALL SELECT time_stamp, price, volume, 'KAVAETH' as asset FROM `development-302415.markets.KAVAETH` UNION ALL SELECT time_stamp, price, volume, 'KAVAEUR' as asset FROM `development-302415.markets.KAVAEUR` UNION ALL SELECT time_stamp, price, volume, 'KAVAUSD' as asset FROM `development-302415.markets.KAVAUSD` UNION ALL SELECT time_stamp, price, volume, 'KAVAXBT' as asset FROM `development-302415.markets.KAVAXBT` UNION ALL SELECT time_stamp, price, volume, 'KEEPETH' as asset FROM `development-302415.markets.KEEPETH` UNION ALL SELECT time_stamp, price, volume, 'KEEPEUR' as asset FROM `development-302415.markets.KEEPEUR` UNION ALL SELECT time_stamp, price, volume, 'KEEPUSD' as asset FROM `development-302415.markets.KEEPUSD` UNION ALL SELECT time_stamp, price, volume, 'KEEPXBT' as asset FROM `development-302415.markets.KEEPXBT` UNION ALL SELECT time_stamp, price, volume, 'KNCETH' as asset FROM `development-302415.markets.KNCETH` UNION ALL SELECT time_stamp, price, volume, 'KNCEUR' as asset FROM `development-302415.markets.KNCEUR` UNION ALL SELECT time_stamp, price, volume, 'KNCUSD' as asset FROM `development-302415.markets.KNCUSD` UNION ALL SELECT time_stamp, price, volume, 'KNCXBT' as asset FROM `development-302415.markets.KNCXBT` UNION ALL SELECT time_stamp, price, volume, 'KSMETH' as asset FROM `development-302415.markets.KSMETH` UNION ALL SELECT time_stamp, price, volume, 'KSMEUR' as asset FROM `development-302415.markets.KSMEUR` UNION ALL SELECT time_stamp, price, volume, 'KSMUSD' as asset FROM `development-302415.markets.KSMUSD` UNION ALL SELECT time_stamp, price, volume, 'KSMXBT' as asset FROM `development-302415.markets.KSMXBT` UNION ALL SELECT time_stamp, price, volume, 'LINKETH' as asset FROM `development-302415.markets.LINKETH` UNION ALL SELECT time_stamp, price, volume, 'LINKEUR' as asset FROM `development-302415.markets.LINKEUR` UNION ALL SELECT time_stamp, price, volume, 'LINKUSD' as asset FROM `development-302415.markets.LINKUSD` UNION ALL SELECT time_stamp, price, volume, 'LINKUSDT' as asset FROM `development-302415.markets.LINKUSDT` UNION ALL SELECT time_stamp, price, volume, 'LINKXBT' as asset FROM `development-302415.markets.LINKXBT` UNION ALL SELECT time_stamp, price, volume, 'LSKETH' as asset FROM `development-302415.markets.LSKETH` UNION ALL SELECT time_stamp, price, volume, 'LSKEUR' as asset FROM `development-302415.markets.LSKEUR` UNION ALL SELECT time_stamp, price, volume, 'LSKUSD' as asset FROM `development-302415.markets.LSKUSD` UNION ALL SELECT time_stamp, price, volume, 'LSKXBT' as asset FROM `development-302415.markets.LSKXBT` UNION ALL SELECT time_stamp, price, volume, 'LTCAUD' as asset FROM `development-302415.markets.LTCAUD` UNION ALL SELECT time_stamp, price, volume, 'LTCETH' as asset FROM `development-302415.markets.LTCETH` UNION ALL SELECT time_stamp, price, volume, 'LTCEUR' as asset FROM `development-302415.markets.LTCEUR` UNION ALL SELECT time_stamp, price, volume, 'LTCGBP' as asset FROM `development-302415.markets.LTCGBP` UNION ALL SELECT time_stamp, price, volume, 'LTCJPY' as asset FROM `development-302415.markets.LTCJPY` UNION ALL SELECT time_stamp, price, volume, 'LTCUSD' as asset FROM `development-302415.markets.LTCUSD` UNION ALL SELECT time_stamp, price, volume, 'LTCUSDT' as asset FROM `development-302415.markets.LTCUSDT` UNION ALL SELECT time_stamp, price, volume, 'LTCXBT' as asset FROM `development-302415.markets.LTCXBT` UNION ALL SELECT time_stamp, price, volume, 'MANAETH' as asset FROM `development-302415.markets.MANAETH` UNION ALL SELECT time_stamp, price, volume, 'MANAEUR' as asset FROM `development-302415.markets.MANAEUR` UNION ALL SELECT time_stamp, price, volume, 'MANAUSD' as asset FROM `development-302415.markets.MANAUSD` UNION ALL SELECT time_stamp, price, volume, 'MANAXBT' as asset FROM `development-302415.markets.MANAXBT` UNION ALL SELECT time_stamp, price, volume, 'MLNETH' as asset FROM `development-302415.markets.MLNETH` UNION ALL SELECT time_stamp, price, volume, 'MLNEUR' as asset FROM `development-302415.markets.MLNEUR` UNION ALL SELECT time_stamp, price, volume, 'MLNUSD' as asset FROM `development-302415.markets.MLNUSD` UNION ALL SELECT time_stamp, price, volume, 'MLNXBT' as asset FROM `development-302415.markets.MLNXBT` UNION ALL SELECT time_stamp, price, volume, 'NANOETH' as asset FROM `development-302415.markets.NANOETH` UNION ALL SELECT time_stamp, price, volume, 'NANOEUR' as asset FROM `development-302415.markets.NANOEUR` UNION ALL SELECT time_stamp, price, volume, 'NANOUSD' as asset FROM `development-302415.markets.NANOUSD` UNION ALL SELECT time_stamp, price, volume, 'NANOXBT' as asset FROM `development-302415.markets.NANOXBT` UNION ALL SELECT time_stamp, price, volume, 'OMGETH' as asset FROM `development-302415.markets.OMGETH` UNION ALL SELECT time_stamp, price, volume, 'OMGEUR' as asset FROM `development-302415.markets.OMGEUR` UNION ALL SELECT time_stamp, price, volume, 'OMGUSD' as asset FROM `development-302415.markets.OMGUSD` UNION ALL SELECT time_stamp, price, volume, 'OMGXBT' as asset FROM `development-302415.markets.OMGXBT` UNION ALL SELECT time_stamp, price, volume, 'OXTETH' as asset FROM `development-302415.markets.OXTETH` UNION ALL SELECT time_stamp, price, volume, 'OXTEUR' as asset FROM `development-302415.markets.OXTEUR` UNION ALL SELECT time_stamp, price, volume, 'OXTUSD' as asset FROM `development-302415.markets.OXTUSD` UNION ALL SELECT time_stamp, price, volume, 'OXTXBT' as asset FROM `development-302415.markets.OXTXBT` UNION ALL SELECT time_stamp, price, volume, 'PAXGETH' as asset FROM `development-302415.markets.PAXGETH` UNION ALL SELECT time_stamp, price, volume, 'PAXGEUR' as asset FROM `development-302415.markets.PAXGEUR` UNION ALL SELECT time_stamp, price, volume, 'PAXGUSD' as asset FROM `development-302415.markets.PAXGUSD` UNION ALL SELECT time_stamp, price, volume, 'PAXGXBT' as asset FROM `development-302415.markets.PAXGXBT` UNION ALL SELECT time_stamp, price, volume, 'QTUMETH' as asset FROM `development-302415.markets.QTUMETH` UNION ALL SELECT time_stamp, price, volume, 'QTUMEUR' as asset FROM `development-302415.markets.QTUMEUR` UNION ALL SELECT time_stamp, price, volume, 'QTUMUSD' as asset FROM `development-302415.markets.QTUMUSD` UNION ALL SELECT time_stamp, price, volume, 'QTUMXBT' as asset FROM `development-302415.markets.QTUMXBT` UNION ALL SELECT time_stamp, price, volume, 'REPETH' as asset FROM `development-302415.markets.REPETH` UNION ALL SELECT time_stamp, price, volume, 'REPEUR' as asset FROM `development-302415.markets.REPEUR` UNION ALL SELECT time_stamp, price, volume, 'REPUSD' as asset FROM `development-302415.markets.REPUSD` UNION ALL SELECT time_stamp, price, volume, 'REPV2ETH' as asset FROM `development-302415.markets.REPV2ETH` UNION ALL SELECT time_stamp, price, volume, 'REPV2EUR' as asset FROM `development-302415.markets.REPV2EUR` UNION ALL SELECT time_stamp, price, volume, 'REPV2USD' as asset FROM `development-302415.markets.REPV2USD` UNION ALL SELECT time_stamp, price, volume, 'REPV2XBT' as asset FROM `development-302415.markets.REPV2XBT` UNION ALL SELECT time_stamp, price, volume, 'REPXBT' as asset FROM `development-302415.markets.REPXBT` UNION ALL SELECT time_stamp, price, volume, 'SCETH' as asset FROM `development-302415.markets.SCETH` UNION ALL SELECT time_stamp, price, volume, 'SCEUR' as asset FROM `development-302415.markets.SCEUR` UNION ALL SELECT time_stamp, price, volume, 'SCUSD' as asset FROM `development-302415.markets.SCUSD` UNION ALL SELECT time_stamp, price, volume, 'SCXBT' as asset FROM `development-302415.markets.SCXBT` UNION ALL SELECT time_stamp, price, volume, 'SNXETH' as asset FROM `development-302415.markets.SNXETH` UNION ALL SELECT time_stamp, price, volume, 'SNXEUR' as asset FROM `development-302415.markets.SNXEUR` UNION ALL SELECT time_stamp, price, volume, 'SNXUSD' as asset FROM `development-302415.markets.SNXUSD` UNION ALL SELECT time_stamp, price, volume, 'SNXXBT' as asset FROM `development-302415.markets.SNXXBT` UNION ALL SELECT time_stamp, price, volume, 'STORJETH' as asset FROM `development-302415.markets.STORJETH` UNION ALL SELECT time_stamp, price, volume, 'STORJEUR' as asset FROM `development-302415.markets.STORJEUR` UNION ALL SELECT time_stamp, price, volume, 'STORJUSD' as asset FROM `development-302415.markets.STORJUSD` UNION ALL SELECT time_stamp, price, volume, 'STORJXBT' as asset FROM `development-302415.markets.STORJXBT` UNION ALL SELECT time_stamp, price, volume, 'TBTCETH' as asset FROM `development-302415.markets.TBTCETH` UNION ALL SELECT time_stamp, price, volume, 'TBTCEUR' as asset FROM `development-302415.markets.TBTCEUR` UNION ALL SELECT time_stamp, price, volume, 'TBTCUSD' as asset FROM `development-302415.markets.TBTCUSD` UNION ALL SELECT time_stamp, price, volume, 'TBTCXBT' as asset FROM `development-302415.markets.TBTCXBT` UNION ALL SELECT time_stamp, price, volume, 'TRXETH' as asset FROM `development-302415.markets.TRXETH` UNION ALL SELECT time_stamp, price, volume, 'TRXEUR' as asset FROM `development-302415.markets.TRXEUR` UNION ALL SELECT time_stamp, price, volume, 'TRXUSD' as asset FROM `development-302415.markets.TRXUSD` UNION ALL SELECT time_stamp, price, volume, 'TRXXBT' as asset FROM `development-302415.markets.TRXXBT` UNION ALL SELECT time_stamp, price, volume, 'UNIETH' as asset FROM `development-302415.markets.UNIETH` UNION ALL SELECT time_stamp, price, volume, 'UNIEUR' as asset FROM `development-302415